In [1]:
import json
import pymysql

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup

import re

import pandas as pd

In [2]:
# 크롬 드라이버 설정
global driver
driver = webdriver.Chrome()
global wait
wait = WebDriverWait(driver, 20)

# User-Agent 설정
user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'
options = webdriver.ChromeOptions()
options.add_argument('user-agent=' + user_agent)

In [3]:
with open('info.json', 'r') as file:
    data = json.load(file)
    db_pw = data['db_info']['pw']

    id = data['user_info']['id']
    pw = data['user_info']['pw']

In [4]:
def __init__(db_pw):
    conn = pymysql.connect(host='127.0.0.1', user='root', password=db_pw, db='baekjoon', charset='utf8')

    with conn.cursor() as curs:
        sql="""
        CREATE TABLE IF NOT EXISTS problem_info(
            number INT,
            title VARCHAR(40),
            isSolved BOOLEAN,
            level INT,
            PRIMARY KEY (number)
        );

        """
        curs.execute(sql)

    conn.commit()

In [5]:
def login_solved(id, pw):
    '''
    solved 웹사이트에 접속해서 계정으로 로그인한다.
    '''
    login_url = "https://www.acmicpc.net/login?next=%2Fsso%3Fsso%3Dbm9uY2U9YTM5YWVhYTk4MWNhYjU1YWEwZDRlZDQ4Nzc3NzEzOGM%253D%26sig%3D1ca260b9abbbe4df2b002254dd94a7f31b373ff0270b243408963284f8fcd7a1%26redirect%3Dhttps%253A%252F%252Fsolved.ac%252Fapi%252Fv3%252Fauth%252Fsso%253Fprev%253D%25252F"
    driver.get(login_url)

    # 로그인 페이지에서 계정 정보를 입력하고 클릭한다.
    wait.until(
        EC.presence_of_all_elements_located((By.XPATH, '//*[@id="login_form"]/div[2]/input'))
    )

    user_id = driver.find_element(By.XPATH, '//*[@id="login_form"]/div[2]/input')
    user_pw = driver.find_element(By.XPATH, '//*[@id="login_form"]/div[3]/input')

    user_id.send_keys(id)
    user_pw.send_keys(pw)

    login_bt = driver.find_element(By.XPATH, '//*[@id="submit_button"]')
    login_bt.click()  

    # 백준 계정으로 솔브드에 로그인할지 묻는 화면. 수락을 클릭함
    wait.until(
        EC.presence_of_all_elements_located((By.XPATH, '//*[@id="login_form"]/div[4]/div[2]/a'))
    )

    login_bt_2 = driver.find_element(By.XPATH, '//*[@id="login_form"]/div[4]/div[2]/a')
    login_bt_2.click()

In [11]:
def read_solved():
    '''
    솔브드 레벨을 순회하며 문제 정보를 스크래핑한다.
    '''
    def has_korean(text):
        '''
        텍스트에 한글을 포함하고 있는지 확인하는 코드
        '''
        # 한글 유니코드 범위: AC00-D7AF
        korean_regex = re.compile("[\uac00-\ud7af]+")
        return bool(korean_regex.search(text))


    max_level = 2 # 골드 1
    df = pd.DataFrame(columns=['number', 'title','isSolved', 'level'])
    for level in range(1, max_level+1):
        # 각 레벨의 1페이지에 접속하고 html 텍스트 정보를 파싱함
        url = f'https://solved.ac/problems/level/{level}'
        driver.get(url)
        html = BeautifulSoup(driver.page_source, 'lxml')

        # 마지막 페이지 번호 추출
        last_page = int(html.find_all('a', {'class':'css-1yjorof'})[-1].text)

        # 1페이지의 데이터를 수집함.
        

        rows = html.find_all('tr', {'class':'css-1ojb0xa'})

        for row in range(1, len(rows)):
            info = rows[row].find_all('a', {'class':'css-q9j30p'})
            number = int(info[0].find('span').text)
            title = info[1].find('span', {'class':'__Latex__'}).text

            korean = has_korean(title)

            #한국어로 된 문제가 아니라면 저장하지 않고 패스한다.
            if korean == False:  
                continue
            isSolved = True if rows[row].find_all('span', {'class':'ac'}) else False
            title = re.sub("'", '', title) # 따옴포를 제거함.

            #데이터 삽입
            df.loc[len(df)] = [number, title, isSolved, level]
            print(df.loc[len(df)-1])


        # 2페이지부터 순회하며 데이터 수집
        for page in range(2, last_page + 1):
            pg_url = f'?page={page}'
            driver.get(url+pg_url)
            html = BeautifulSoup(driver.page_source, 'lxml')

            rows = html.find_all('tr', {'class':'css-1ojb0xa'})

            for row in range(1, len(rows)):
                info = rows[row].find_all('a', {'class':'css-q9j30p'})
                number = int(info[0].find('span').text)
                title = info[1].find('span', {'class':'__Latex__'}).text

                korean = has_korean(title)

                #한국어로 된 문제가 아니라면 저장하지 않고 패스한다.
                if korean == False: 
                    continue
                isSolved = True if rows[row].find_all('span', {'class':'ac'}) else False
                title = re.sub("'", '', title) # 따옴포를 제거함.

                #데이터 삽입
                df.loc[len(df)] = [number, title, isSolved, level]
                print(df.loc[len(df)-1])
    print("백준 문제 크롤링 완료")            
    return df

In [7]:
def insert_into_db(df):
    '''
    데이터베이스의 데이터를 입력한다.
    '''
    with conn.cursor() as curs:
        for r in df.itertuples(index=False):
            print(r)
            sql=f"INSERT INTO problem_info VALUES ({r.number}, '{r.title}', {r.isSolved}, {r.level})"
            curs.execute(sql)

        conn.commit()
    print(f"[{len(df)}]개의 데이터 DB 저장 완료")

In [8]:
__init__(db_pw)

In [9]:
login_solved(id, pw)

In [12]:
df=read_solved()

number         1271
title       엄청난 부자2
isSolved       True
level             1
Name: 0, dtype: object
number          1330
title       두 수 비교하기
isSolved        True
level              1
Name: 1, dtype: object
number        2338
title       긴자리 계산
isSolved      True
level            1
Name: 2, dtype: object
number       2420
title       사파리월드
isSolved     True
level           1
Name: 3, dtype: object
number          2438
title       별 찍기 - 1
isSolved        True
level              1
Name: 4, dtype: object
number      2475
title        검증수
isSolved    True
level          1
Name: 5, dtype: object
number       2738
title       행렬 덧셈
isSolved     True
level           1
Name: 6, dtype: object
number      2739
title        구구단
isSolved    True
level          1
Name: 7, dtype: object
number      2741
title       N 찍기
isSolved    True
level          1
Name: 8, dtype: object
number          2743
title       단어 길이 재기
isSolved       False
level              1
Name: 9, dtype: object
number          2744
title       대소문자 바꾸기
isSolved       False
level              1
Name: 10, dtype: object
number      2753
title         윤년
isSolved    True
level          1
Name: 11, dtype: object
number       2754
title        학점계산
isSolved    False
level           1
Name: 12, dtype: object
number                     3003
title       킹, 퀸, 룩, 비숍, 나이트, 폰
isSolved                  False
level                         1
Name: 13, dtype: object
number       4101
title         크냐?
isSolved    False
level           1
Name: 14, dtype: object
number       4999
title          아!
isSolved    False
level           1
Name: 15, dtype: object
number       5337
title          웰컴
isSolved    False
level           1
Name: 16, dtype: object
number            5338
title       마이크로소프트 로고
isSolved         False
level                1
Name: 17, dtype: object
number       5339
title         콜센터
isSolved    False
level           1
Name: 18, dtype: object
number       5522
title       카드 게임
isSolved    False
level           1
Name: 19, dtype: object
number              5597
title       과제 안 내신 분..?
isSolved           False
level                  1
Name: 20, dtype: object
number      7287
title         등록
isSolved    True
level          1
Name: 21, dtype: object
number      8393
title          합
isSolved    True
level          1
Name: 22, dtype: object
number       9086
title         문자열
isSolved    False
level           1
Name: 23, dtype: object
number       9498
title       시험 성적
isSolved     True
level           1
Name: 24, dtype: object
number         9653
title       스타워즈 로고
isSolved      False
level             1
Name: 25, dtype: object
number           9654
title       나부 함대 데이터
isSolved        False
level               1
Name: 26, dtype: object
number      10171
title         고양이
isSolved     True
level           1
Name: 27, dtype: object
number      10172
title           개
isSolved     True
level           1
Name: 28, dtype: object
number      10430
title         나머지
isSolved     True
level           1
Name: 29, dtype: object
number      10699
title       오늘 날짜
isSolved     True
level           1
Name: 30, dtype: object
number        10757
title       큰 수 A+B
isSolved      False
level             1
Name: 31, dtype: object
number      10807
title       개수 세기
isSolved    False
level           1
Name: 32, dtype: object
number       10809
title       알파벳 찾기
isSolved      True
level            1
Name: 33, dtype: object
number      10869
title        사칙연산
isSolved     True
level           1
Name: 34, dtype: object
number         10871
title       X보다 작은 수
isSolved        True
level              1
Name: 35, dtype: object
number      10872
title        팩토리얼
isSolved     True
level           1
Name: 36, dtype: object
number      11382
title       꼬마 정민
isSolved    False
level           1
Name: 37, dtype: object
number       11654
title       아스키 코드
isSolved      True
level            1
Name: 38, dtype: object
number         11718
title       그대로 출력하기
isSolved        True
level              1
Name: 39, dtype: object
number           11942
title       고려대는 사랑입니다
isSolved         False
level                1
Name: 40, dtype: object
number       13277
title       큰 수 곱셈
isSolved     False
level            1
Name: 41, dtype: object
number             14581
title       팬들에게 둘러싸인 홍준
isSolved           False
level                  1
Name: 42, dtype: object
number          14645
title       와이버스 부릉부릉
isSolved        False
level               1
Name: 43, dtype: object
number          14652
title       나는 행복합니다~
isSolved        False
level               1
Name: 44, dtype: object
number        14681
title       사분면 고르기
isSolved       True
level             1
Name: 45, dtype: object
number          14928
title       큰 수 (BIG)
isSolved        False
level               1
Name: 46, dtype: object
number                    15727
title       조별과제를 하려는데 조장이 사라졌다
isSolved                  False
level                         1
Name: 47, dtype: object
number        15733
title       나는 누구인가
isSolved      False
level             1
Name: 48, dtype: object
number       15962
title       새로운 시작
isSolved     False
level            1
Name: 49, dtype: object
number       15964
title       이상한 기호
isSolved      True
level            1
Name: 50, dtype: object
number         16170
title       오늘의 날짜는?
isSolved       False
level              1
Name: 51, dtype: object
number      16394
title       홍익대학교
isSolved    False
level           1
Name: 52, dtype: object
number      16430
title       제리와 톰
isSolved    False
level           1
Name: 53, dtype: object
number          17256
title       달달함이 넘쳐흘러
isSolved        False
level               1
Name: 54, dtype: object
number          17295
title       엔드게임 스포일러
isSolved        False
level               1
Name: 55, dtype: object
number                          18108
title       1998년생인 내가 태국에서는 2541년생?!
isSolved                        False
level                               1
Name: 56, dtype: object
number      20492
title          세금
isSolved    False
level           1
Name: 57, dtype: object
number                        24262
title       알고리즘 수업 - 알고리즘의 수행 시간 1
isSolved                      False
level                             1
Name: 58, dtype: object
number      24900
title       한별 찍기
isSolved    False
level           1
Name: 59, dtype: object
number      25083
title          새싹
isSolved    False
level           1
Name: 60, dtype: object
number           25238
title       가희와 방어율 무시
isSolved         False
level                1
Name: 61, dtype: object
number      25304
title         영수증
isSolved    False
level           1
Name: 62, dtype: object
number                     25311
title       UCPC에서 가장 쉬운 문제 번호는?
isSolved                   False
level                          1
Name: 63, dtype: object
number             25314
title       코딩은 체육과목 입니다
isSolved           False
level                  1
Name: 64, dtype: object
number              25372
title       성택이의 은밀한 비밀번호
isSolved            False
level                   1
Name: 65, dtype: object
number      27294
title        몇개고?
isSolved    False
level           1
Name: 66, dtype: object
number       27433
title       팩토리얼 2
isSolved     False
level            1
Name: 67, dtype: object
number       27434
title       팩토리얼 3
isSolved     False
level            1
Name: 68, dtype: object
number        1264
title       모음의 개수
isSolved     False
level            2
Name: 0, dtype: object
number       2083
title       럭비 클럽
isSolved    False
level           2
Name: 1, dtype: object
number          2439
title       별 찍기 - 2
isSolved        True
level              2
Name: 2, dtype: object
number          2440
title       별 찍기 - 3
isSolved        True
level              2
Name: 3, dtype: object
number        2480
title       주사위 세개
isSolved     False
level            2
Name: 4, dtype: object
number         2530
title       인공지능 시계
isSolved      False
level             2
Name: 5, dtype: object
number      2742
title       기찍 N
isSolved    True
level          2
Name: 6, dtype: object
number       2752
title        세수정렬
isSolved    False
level           2
Name: 7, dtype: object
number             2845
title       파티가 끝나고 난 뒤
isSolved           True
level                 2
Name: 8, dtype: object
number         4299
title       AFC 윔블던
isSolved      False
level             2
Name: 9, dtype: object
number       4470
title         줄번호
isSolved    False
level           2
Name: 10, dtype: object
number       5524
title       입실 관리
isSolved    False
level           2
Name: 11, dtype: object
number       5532
title       방학 숙제
isSolved    False
level           2
Name: 12, dtype: object
number      5543
title       상근날드
isSolved    True
level          2
Name: 13, dtype: object
number          5554
title       심부름 가는 길
isSolved       False
level              2
Name: 14, dtype: object
number       5575
title       타임 카드
isSolved    False
level           2
Name: 15, dtype: object
number       5596
title       시험 점수
isSolved    False
level           2
Name: 16, dtype: object
number          5717
title       상근이의 친구들
isSolved       False
level              2
Name: 17, dtype: object
number      10039
title       평균 점수
isSolved     True
level           2
Name: 18, dtype: object
number        10101
title       삼각형 외우기
isSolved      False
level             2
Name: 19, dtype: object
number      10156
title          과자
isSolved    False
level           2
Name: 20, dtype: object
number      10768
title       특별한 날
isSolved    False
level           2
Name: 21, dtype: object
number      10797
title        10부제
isSolved    False
level           2
Name: 22, dtype: object
number       10808
title       알파벳 개수
isSolved     False
level            2
Name: 23, dtype: object
number      11282
title          한글
isSolved    False
level           2
Name: 24, dtype: object
number      11283
title        한글 2
isSolved    False
level           2
Name: 25, dtype: object
number       11365
title       !밀비 급일
isSolved     False
level            2
Name: 26, dtype: object
number      11720
title       숫자의 합
isSolved     True
level           2
Name: 27, dtype: object
number       11943
title       파일 옮기기
isSolved     False
level            2
Name: 28, dtype: object
number        11945
title       뜨거운 붕어빵
isSolved      False
level             2
Name: 29, dtype: object
number      11948
title        과목선택
isSolved    False
level           2
Name: 30, dtype: object
number       13118
title       뉴턴과 사과
isSolved     False
level            2
Name: 31, dtype: object
number      13866
title       팀 나누기
isSolved    False
level           2
Name: 32, dtype: object
number      14470
title       전자레인지
isSolved    False
level           2
Name: 33, dtype: object
number              14489
title       치킨 두 마리 (...)
isSolved            False
level                   2
Name: 34, dtype: object
number          14924
title       폰 노이만과 파리
isSolved        False
level               2
Name: 35, dtype: object
number       15552
title       빠른 A+B
isSolved      True
level            2
Name: 36, dtype: object
number      15680
title       연세대학교
isSolved    False
level           2
Name: 37, dtype: object
number         15700
title       타일 채우기 4
isSolved       False
level              2
Name: 38, dtype: object
number      15726
title        이칙연산
isSolved    False
level           2
Name: 39, dtype: object
number          15873
title       공백 없는 A+B
isSolved         True
level               2
Name: 40, dtype: object
number            15921
title       수찬은 마린보이야!!
isSolved          False
level                 2
Name: 41, dtype: object
number        16199
title       나이 계산하기
isSolved      False
level             2
Name: 42, dtype: object
number      16204
title       카드 뽑기
isSolved    False
level           2
Name: 43, dtype: object
number         16486
title       운동장 한 바퀴
isSolved       False
level              2
Name: 44, dtype: object
number      17356
title         욱 제
isSolved    False
level           2
Name: 45, dtype: object
number               17362
title       수학은 체육과목 입니다 2
isSolved             False
level                    2
Name: 46, dtype: object
number         17388
title       와글와글 숭고한
isSolved       False
level              2
Name: 47, dtype: object
number      19698
title       헛간 청약
isSolved    False
level           2
Name: 48, dtype: object
number            19944
title       뉴비의 기준은 뭘까?
isSolved          False
level                 2
Name: 49, dtype: object
number                20499
title       Darius님 한타 안 함?
isSolved              False
level                     2
Name: 50, dtype: object
number                    23795
title       사장님 도박은 재미로 하셔야 합니다
isSolved                  False
level                         2
Name: 51, dtype: object
number               23825
title       SASA 모형을 만들어보자
isSolved             False
level                    2
Name: 52, dtype: object
number                        24263
title       알고리즘 수업 - 알고리즘의 수행 시간 2
isSolved                      False
level                             2
Name: 53, dtype: object
number      24723
title        녹색거탑
isSolved    False
level           2
Name: 54, dtype: object
number      24883
title        자동완성
isSolved    False
level           2
Name: 55, dtype: object
number                   25191
title       치킨댄스를 추는 곰곰이를 본 임스
isSolved                 False
level                        2
Name: 56, dtype: object
number      25377
title           빵
isSolved    False
level           2
Name: 57, dtype: object
number               25494
title       단순한 문제 (Small)
isSolved             False
level                    2
Name: 58, dtype: object
number         25591
title       푸앙이와 종윤이
isSolved       False
level              2
Name: 59, dtype: object
number      25625
title        샤틀버스
isSolved    False
level           2
Name: 60, dtype: object
number        25628
title       햄버거 만들기
isSolved      False
level             2
Name: 61, dtype: object
number       25703
title       포인터 공부
isSolved     False
level            2
Name: 62, dtype: object
number       25704
title       출석 이벤트
isSolved     False
level            2
Name: 63, dtype: object
number                     26068
title       치킨댄스를 추는 곰곰이를 본 임스 2
isSolved                   False
level                          2
Name: 64, dtype: object
number      27110
title       특식 배부
isSolved    False
level           2
Name: 65, dtype: object
백준 문제 크롤링 완료

In [13]:
df

    number                 title  isSolved  level
0     1264                모음의 개수     False      2
1     2083                 럭비 클럽     False      2
2     2439              별 찍기 - 2      True      2
3     2440              별 찍기 - 3      True      2
4     2480                주사위 세개     False      2
..     ...                   ...       ...    ...
61   25628               햄버거 만들기     False      2
62   25703                포인터 공부     False      2
63   25704                출석 이벤트     False      2
64   26068  치킨댄스를 추는 곰곰이를 본 임스 2     False      2
65   27110                 특식 배부     False      2

[66 rows x 4 columns]

In [14]:
conn.close()

In [16]:

conn = pymysql.connect(host='127.0.0.1', user='root', password=db_pw, db='baekjoon', charset='utf8')
with conn.cursor() as curs:
    for r in df.itertuples(index=False):
        print(r.number, r.title, r.isSolved, r.level)
        sql=f"INSERT INTO problem_info VALUES ({r.number}, '{r.title}', {r.isSolved}, {r.level})"
        # sql=f"INSERT INTO problem_info VALUES (%s, '%s', %s, %s, %s)" %(r.number, r.title, r.isSolved, r.level, r.korean)
        curs.execute(sql)
    conn.commit()

1264 모음의 개수 False 2
2083 럭비 클럽 False 2
2439 별 찍기 - 2 True 2
2440 별 찍기 - 3 True 2
2480 주사위 세개 False 2
2530 인공지능 시계 False 2
2742 기찍 N True 2
2752 세수정렬 False 2
2845 파티가 끝나고 난 뒤 True 2
4299 AFC 윔블던 False 2
4470 줄번호 False 2
5524 입실 관리 False 2
5532 방학 숙제 False 2
5543 상근날드 True 2
5554 심부름 가는 길 False 2
5575 타임 카드 False 2
5596 시험 점수 False 2
5717 상근이의 친구들 False 2
10039 평균 점수 True 2
10101 삼각형 외우기 False 2
10156 과자 False 2
10768 특별한 날 False 2
10797 10부제 False 2
10808 알파벳 개수 False 2
11282 한글 False 2
11283 한글 2 False 2
11365 !밀비 급일 False 2
11720 숫자의 합 True 2
11943 파일 옮기기 False 2
11945 뜨거운 붕어빵 False 2
11948 과목선택 False 2
13118 뉴턴과 사과 False 2
13866 팀 나누기 False 2
14470 전자레인지 False 2
14489 치킨 두 마리 (...) False 2
14924 폰 노이만과 파리 False 2
15552 빠른 A+B True 2
15680 연세대학교 False 2
15700 타일 채우기 4 False 2
15726 이칙연산 False 2
15873 공백 없는 A+B True 2
15921 수찬은 마린보이야!! False 2
16199 나이 계산하기 False 2
16204 카드 뽑기 False 2
16486 운동장 한 바퀴 False 2
17356 욱 제 False 2
17362 수학은 체육과목 입니다 2 False 2
17388 와글와글 숭고한 False 2
19698 헛간 청약 False 2
19944 뉴비의 기준은 뭘까? False 2
20499 Darius님 한타 안 함? False 2
23795 사장님 도박은 재미로 하셔야 합니다 False 2
23825 SASA 모형을 만들어보자 False 2
24263 알고리즘 수업 - 알고리즘의 수행 시간 2 False 2
24723 녹색거탑 False 2
24883 자동완성 False 2
25191 치킨댄스를 추는 곰곰이를 본 임스 False 2
25377 빵 False 2
25494 단순한 문제 (Small) False 2
25591 푸앙이와 종윤이 False 2
25625 샤틀버스 False 2
25628 햄버거 만들기 False 2
25703 포인터 공부 False 2
25704 출석 이벤트 False 2
26068 치킨댄스를 추는 곰곰이를 본 임스 2 False 2
27110 특식 배부 False 2